aiohappyeyeballs==2.6.1
aiohttp==3.13.4
aiosignal==1.4.0
annotated-types==0.6.0
asgiref==3.8.1
async-timeout==4.0.3
attrs==23.2.0
bleach==6.2.0
Brotli==1.2.0
certifi==2025.8.3
charset-normalizer==3.3.0
Django==5.2.14
django-appconf==1.0.6
django-compressor==4.4
django-libsass==0.9
django-markdownify==0.9.5
django_plotly_dash==2.5.0
django-tempus-dominus==5.1.2.17
dnspython==2.7.0
email_validator==2.2.0
et-xmlfile==1.1.0
frozenlist==1.4.0
gevent==23.9.1
greenlet==3.0.0
grpcio==1.59.0
gunicorn==23.0.0
h11==0.16.0
idna==3.7
iniconfig==2.0.0
libsass==0.23.0
Markdown==3.8.1
multidict==6.6.4
numpy==1.26.2
openpyxl==3.1.2
outcome==1.3.0.post0
packaging==23.2
pandas==2.1.3
plotly==5.22.0
pluggy==1.5.0
propcache==0.2.0
protobuf==6.33.5
psycopg==3.1.12
psycopg-binary==3.1.12
pydantic==2.6.3
pydantic-settings==2.2.1
pydantic_core==2.16.3
PySocks==1.7.1
pytest==9.0.3
python-dateutil==2.8.2
python-dotenv==1.2.2
python-rapidjson==1.12
pytz==2023.3.post1
rcssmin==1.1.1
requests==2.33.0
rjsmin==1.2.1
selenium==4.35.0
setuptools==80.9.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
sqlparse==0.5.5
tenacity==8.3.0
tinycss2==1.4.0
trio==0.30.0
trio-websocket==0.12.2
tritonclient==2.36.0
typing_extensions==4.14.1
tzdata==2023.3
ujson==5.12.0
urllib3==2.6.3
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client==1.8.0
whitenoise==6.5.0
wsproto==1.2.0
yarl==1.17.2
zope.event==5.0
zope.interface==7.1.1
