{% extends './base.html' %}




{% block title %}
  Dashboard
{% endblock title %}


{% block header %}
<h1>
  Dashboard
</h1>
{% endblock header %}


{% block content %}



<div class="containerino">
  <div id="main_form" class="vh-100 form-containerino">
    
    <h2> Dashboard <i class="bi bi-clipboard-data"></i>  </h2> 
    <hr>
    
    <iframe src="http://localhost:8050" style="height: 90%;" class="container-fluid"> </iframe>
    
{% comment %}     
    <div class="row mt-5">
      <div class="col-1"> </div>
      {% for figure in row1%}
        <div class="col-5">
          <h5> {{figure.heading}} </h5>
          {% autoescape off %}
          {{figure.plot}}
          {% endautoescape %}
        </div>
      {% endfor %}
      <div class="col-1"> </div>
    </div>

    <div class="row mt-5">
      <div class="col-1"> </div>
      {% for figure in row2%}
        <div class="col-5">
          <h5> {{figure.heading}} </h5>
          {% autoescape off %}
          {{figure.plot}}
          {% endautoescape %}
        </div>
      {% endfor %}
      <div class="col-1"> </div>
    </div>


    <div class="row mt-5">
      <div class="col-1"> </div>
      {% for figure in row3%}
        <div class="col-5">
          <h5> {{figure.heading}} </h5>
          {% autoescape off %}
          {{figure.plot}}
          {% endautoescape %}
        </div>
      {% endfor %}
      <div class="col-1"> </div>
    </div> {% endcomment %}

  </div>

</div>
{% endblock content %}